@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root,
:root[data-theme='dark'] {
    --primary-color: #F0F0F0;

    --primary-bg-color: #111217;
    --secondary-bg-color: #28292E;
    --primary-boder-color: #28292E;
    --secondary-border-color: #56575A;
    --head-color: #534f55;

    --title-color: #ffd700;
    --text-color: #b89e14;
    --link-color: #ffd700;
    --icon-color: #b89e14;
}

:root[data-theme= 'light'] {
    --primary-color: #0B080F;

    --primary-bg-color: #E9E9E9;
    --secondary-bg-color: #C7C8C9;
    --primary-boder-color: #C7C8C9;
    --secondary-border-color: #9A9A9C;
    --head-color: #959196;

    --title-color: #0B080F;
    --text-color: #28292E;
    --link-color: #28292E;
    --icon-color: #9A9A9C;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    
}

body {
    margin: 0.5rem;
    background-color: var(--primary-bg-color);
    font-family: 'Courier Prime', monospace;
}

p {
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--primary-color);
    font-weight: 600;
}

i {
    color: var(--icon-color);
}

h1,
h2{
    color: var(--text-color);
}

header {
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 1000;
}

.header__toggle {
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
}


header img {
    width: 80px;
}

.logo .header__logo {
    width: 3.5rem;
    height: 3.5rem;
}

.header__brand {
    display: flex;
    justify-content: flex-end;
}

#theme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out .4s;
    color: var(--link-color);
}

.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu--mobile {
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--primary-boder-color);
    display: flex;
    z-index: 1000;
}

.menu__item {
    width: 100%;
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
}

.menu__link.active .menu_icon,
.menu__link.active .menu_text,
.menu__link:hover .menu_icon,
.menu__link:hover .menu_text {
    color: var(--primary-color);
    font-size: 600;
}

.menu_icon,
.menu__text {
    color: var(--text-color);
}

.menu_icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: 1.0rem;
    text-transform: uppercase;
    font-weight: bold;
}

.header__nav {
    display: flex;
}
/* cards */

main {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    z-index: 1;
}

.card_principal {
    flex: 0 0 calc(24% - 2rem);
    width: 280px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-border-color);
    z-index: 1;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.card_principal img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out, opacity 1s ease-in-out;
    object-position: center center;
    object-fit: contain;
    z-index: 0;
}

#card__image {
    align-items: center;
    justify-content: center;
    background-image: url('./papel-de-parede-plano-de-quadrinhos_23-2148818640.avif');
    object-fit: contain;
    background-position: center center;
    background-size: cover;
    background-color: white;
    min-height: 350px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card_principal img:hover {
    overflow: hidden;
    transform: scale(1.1);
}

#card__text {
    justify-content: flex-start;
    color: var(--title-color);
    border-radius: 1px;
    background-color: var(--secondary-bg-color);
}

#card__text p {
    font-size: 0.9rem;
    color: var(--primary-color);
}

/* footer */


.footer_coluns {
    display: grid;
    gap: 3rem;
    grid-template-areas: "footer_colum1 footer_colum2 footer_colum3";
    grid-template-columns: minmax(1fr) minmax(1fr) minmax(1fr);
    color: var(--title-color);
    border-top: 1px solid var(--primary-boder-color);
}

.footer_coluns .footer_colum1 ul{
    justify-content: center;
    align-items:flex-start;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: var(--text-color);
}

.footer_coluns .footer_colum2 ul {
    justify-content: center;
    align-items:flex-start;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: var(--text-color);
}

.footer_coluns .footer_colum3 ul {
    justify-content: center;
    align-items:flex-start;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: var(--text-color);
}

li:hover {
    color: var(--primary-color);
}

footer {
    margin-bottom: 5rem;
}

footer p {
    font-size: .875rem;
    text-align: center;
    padding: 1rem;
}


@media (min-width: 786px) {
    .header {
        position: fixed;
        border-bottom: 1px solid var(--primary-border-color);
        padding: 1rem 6rem;
        background: var(--primary-bg-color);
    }

    .nav--mobile {
        display: none;
    }

    .header__nav {
        display: flex;
    }

    .header__nav,
    .header__toggle {
        min-width: 30%;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8rem 6rem 4rem 6rem;
    }
    footer {
        margin: 0;
    }

}

@media (min-width) {
    
}

@media (min-width: 1200px) {
    main {
        padding: 12rem 6rem 2rem;
        grid-template-columns: repeat(4, 1fr);
    }
    p,
    span,
    li{
        font-size: 1,15rem;
    }
}

@media (min-width: 1400px) {
    .header {
        padding: 1rem 15rem;
    }
    main {
        gap: 20px;
        padding: 10rem 15rem 4rem;
        grid-template-columns: repeat(4, 1fr);
    }
}